<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>ToyApp</title>
=======
  <title>HelloApp</title>
>>>>>>> 62874e04da81cc8bfe401fa3227594cb266c5f71
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
